<div class="bg-black min-w-screen min-h-screen">
    <h1 class="text-2xl font-bold mb-4 text-white">My Films</h1>

    <form method="GET" action="/my-list" class="mb-4">
        <input
            type="text"
            name="q"
            value="{{query}}"
            placeholder="Search for films..."
            class="w-full p-2 border border-gray-300 rounded-md"
        />
        <button
            type="submit"
            class="mt-2 bg-blue-500 text-white py-2 px-4 rounded"
        >
            Search
        </button>
    </form>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {{#each films}}
            {{> film-card this }}
        {{/each}}
    </div>

    <div class="flex justify-center mt-4">
        {{#if (gt currentPage 1)}}
            <a href="/my-list?q={{query}}&page={{subtract currentPage 1}}&limit=6" class="bg-blue-500 text-white py-2 px-4 rounded mr-2">Previous</a>
        {{/if}}
        {{#each (range 1 totalPages)}}
            <a href="/my-list?q={{query}}&page={{this}}&limit=6" class="bg-gray-500 text-white py-2 px-4 rounded {{#if (eq ../currentPage this)}}bg-blue-700{{/if}}">{{this}}</a>
        {{/each}}
        {{#if (lt currentPage totalPages)}}
            <a href="/my-list?q={{query}}&page={{add currentPage 1}}&limit=6" class="bg-blue-500 text-white py-2 px-4 rounded ml-2">Next</a>
        {{/if}}
    </div>

    <form action="/back-home-btn-redirect" method="POST" class="inline">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Back
        </button>
    </form>
    <script src="/scripts/films.js"></script>
</div>
